body{
    color: white;
    font-family: 'Audiowide', cursive;
    margin: 0;
}
p{
    font-family: 'Montserrat', sans-serif;
}
a{
    color: white;
}

/*header et nav*/
    header{
        display: flex;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.8);
        width: 100%;
        position: absolute;
    }
    ul{
        display: flex;
        height: 100%;
        margin: 0;
    }
    ul li {
        list-style:none;
        height: 100%;
        padding: 0% 5%;
        flex-wrap: wrap;
        align-content: center;
        display: flex;
    }
    ul li:hover{
        background-color: black;
        color: white;
    }
    .side-menu{
        display: none;
    }
    .hamb{
        cursor: pointer;
        padding: 1.6em 0.5em;
        display: none;
    }
    .hamb-line {
        background-color: white ;
        height: 2px;
        width: 25px;
        display: block;
        position: relative;
        float: right;
    }
    .hamb-line::after{
        top: 5px;
    }
    .hamb-line::before{
        bottom: 5px;
    }
    .hamb-line::after, .hamb-line::before {
        background: white;
        content: "";
        display: block;
        height: 100%;
        width: 100%;
        position: absolute;
    }
    /*Main part */
    main{
        background-image: url('./images/bg-home.jpg') ;
        background-position: center;
        background-size:cover;
        display: flex;
        flex-direction: column;
        padding-top: 60px;
    }
    .satellite{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .img-satellite{
        position: relative;
        top:20px;
    }
    .infos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    h1{
        font-size:4em;
        margin: 0;
    }
    .featured{
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.8);
        align-self: center;
    }
    .featured>h3{
        color: grey;
    }
    .img-project{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
/* second part fond noir et rose*/
    .backgroundpink{
        background-color: #630031;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .backgroundpink>p{
        width: 40%;
    }
    .backgroundblack{
        background-color: black;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: start;
    }
    .blog{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .blog img{
        margin-right: 15px;
    }
    .blog-title{
        margin:0;
        color: grey;
        font-size: 2em;
    }
    .blog-infos{
        display: flex;
        flex-direction: column;
        position: relative;
    }
    .blog-infos button{
        border: none;
        background-color: #630031;
        height: 40px;
        position: absolute;
        bottom: 0;
        right: 0;
    
    }
    hr{
        margin: 30px 0;
    }
    .infos>button{
        background-color: black;
        border: none;
        color: grey;
        padding: 10px 20px;
    }

/*Footer*/
    .backgroundgrey{
        background-color: grey;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;
    }
    i{
        margin: 10px;
    }
    .backgroundwhite{
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
        height: 80px;
    }

@media (max-width:1000px) {
    h1{
        font-size:3em;
    }
    .img-project{
        display: grid;
        grid-template-columns: 1fr 1fr ;
    }.backgroundblack{
        grid-template-columns: 1fr ;
        
    }
    .satellite{
        flex-direction: column-reverse;
    }
    .hamb{
        display: block;
        
    }
    nav{
        display: none;
        
    }
    nav ul{
        flex-direction: column;
        width: 100%;
        max-width: unset;
        padding: 0;
    }
    ul li {
        width: 100%;
        padding: 0;
    }
    header{
        justify-content: space-between;
    }
    .side-menu:checked~nav{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 60px;
        height: 50vh;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 1
        ;
        
    }
    .side-menu:checked ~ .hamb .hamb-line{
        background: transparent;
    }
    .side-menu:checked ~ .hamb .hamb-line::after {
        transform: rotate(45deg);
        top: 0;
    }
    .side-menu:checked ~ .hamb .hamb-line::before {
        transform: rotate(-45deg);
        top: 0;
    }
}
@media (max-width:500px) {
    .img-project{
        display: grid;
        grid-template-columns: 1fr  ;
    }
    .blog:{
        flex-direction: column;
    }
}