body{
    color: white;
    font-family: 'Audiowide', cursive;
    margin: 0;
}
p{
    font-family: 'Montserrat', sans-serif;
}
header{
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 60px;
    position: absolute;
}
.logo{
    max-width: 304px;
    width: 30%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    max-width: 606px;
    width: 70%;
    margin-left: 5%;

}
nav li {
    list-style:none;
    height: 100%;
    padding: 0% 5%;
    flex-wrap: wrap;
    align-content: center;
    display: flex;
}
.selected {
    background-color: black;
    color: grey;
}
nav li:hover{
    background-color: black;
    color: white;
}
h1{
    font-size:4em;
    margin: 0;
}

main{
    background-image: url('./images/bg-home.jpg') ;
    background-position: center;
    background-size:cover;
    display: flex;
    flex-direction: column;
    padding-top: 60px;
}
.satellite{
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-satellite{
    position: relative;
    top:20px;
}
.infos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.featured{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    width: fit-content;
    align-self: center;
}
.featured>h3{
    color: grey;
}
.img-project{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.backgroundpink{
    background-color: #630031;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.backgroundpink>p{
    width: 40%;
}
a{
    color: white;
}
.backgroundblack{
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: start;
   
}

.backgroundwhite{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    height: 80px;
}
.backgroundgrey{
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}
.blog{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.blog img{
    margin-right: 15px;
}
.blog-title{
    margin:0;
    color: grey;
    font-size: 2em;
}
.blog-infos{
    display: flex;
    flex-direction: column;
    position: relative;
}
.blog-infos button{
    border: none;
    background-color: #630031;
    height: 40px;
    position: absolute;
    bottom: 0;
    right: 0;

}
hr{
    margin: 30px 0;
}
.infos>button{
    background-color: black;
    border: none;
    color: grey;
    padding: 10px 20px;
}
i{
    margin: 10px;
}

@media (max-width:1000px) {
    h1{
        font-size:3em;
    }
    .img-project{
        display: grid;
        grid-template-columns: 1fr 1fr ;
    }.backgroundblack{
        grid-template-columns: 1fr ;
       
    }
    .satellite{
        flex-direction: column-reverse;
    }
    header{
        
    }
}
@media (max-width:500px) {
    .img-project{
        display: grid;
        grid-template-columns: 1fr  ;
    }
    .blog{
        flex-direction: column;
    }
}